.container {
	width: 100%;
	height: 26.68rem;
	background-color: #eff3f2;
}
.top-bar {
	width: 100%;
	height: 0.8rem;
	background-color: #ff6666;
}
.top-title {
	position: relative;
	text-align: center;
	width: 100%;
	height: 1.78rem;
	line-height: 1.78rem;
	padding: 0 0.3rem;
	font-size: 0.72rem;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff6666;
}
.icon-back {
	position: absolute;
	top: 0.4rem;
	left: 0.32rem;
	background: url(../../statics/img/mui/icon-back.png) no-repeat;
	width: 0.52rem;
	height: 0.88rem;
	background-size: 100% 100%;
}
.icon-share {
	position: absolute;
	top: 0.4rem;
	right: 0.32rem;
	background: url(../../statics/img/mui/icon-share.png) no-repeat;
	width: 0.88rem;
	height: 0.88rem;
	background-size: 100% 100%;
}
.top-title-a {
	position: absolute;
	top: 0rem;
	left: 1.38rem;
	font-weight: 400;
	font-size: 0.6rem;
	color: #ffffff;
}
/*列表*/
.mui-group-ul {
	width: 100%;
	padding: 0 0.6rem;
}
.mui-group-li {
	position: relative;
	text-align: center;
	border-radius: 0.4rem;
	margin-top: 0.96rem;
	width: 100%;
	height: 4.78rem;
	background-size: 100% 100%;
}
.mui-group-li-1 {
	background: url(../../statics/img/mui/icon-position.png) no-repeat;
}
.mui-group-li-2 {
	background: url(../../statics/img/mui/icon-service-project.png) no-repeat;
}
.mui-group-li-title {
	position: absolute;
	top: 1.5rem;
	left: 0rem;
	font-size: 0.8rem;
	color: #ffffff;
	width: 100%;
	height: 0.8rem;
}
.mui-group-li-content {
	position: absolute;
	top: 2.8rem;
	left: 0rem;
	font-size: 0.56rem;
	width: 100%;
	height: 0.56rem;
	color: #ffffff;
}

