.ordinary-diet-title {
	padding-left: 1.2rem;
	position: relative;
	height: 3.8rem;
}
.ordinary-diet-line {
	position: absolute;
	top: 0.5rem;
	left: 0.6rem;
	width: 0.14rem;
	height: 1.2rem;
	border-radius: 0.1rem;
	background-color: #fa7e58;
}
.ordinary-diet-label {
	padding-top: 0.8rem;
	display: inline-block;
	font-size: 0.9rem;
	color: #333333;
	font-weight: 700;
	height: 0.9rem;
}
.ordinary-diet-p {
	margin-top: 0.8rem;
	font-size: 0.8rem;
	color: #333333;
	font-weight: 700;
	height: 0.8rem;
	line-height: 0.8rem;
}
.ordinary-img-area {
	position: relative;
	width: 15rem;
	overflow-x: auto;
	margin-bottom: 0.7rem;
}
.right-silp {
	position: absolute;
	top: 6rem;
	right: 0.4rem;
	z-index: 2;
	background: url("./../../statics/img/mui/right-silp.png") no-repeat;
	width: 0.6rem;
	height: 1.66rem;
	background-size: 100% 100%;
}
/*多图展示*/
.ordinary-list {
	width: auto;
	height: 5.94rem;
}
.ordinary-group {
	position: relative;
	float: left;
	/*width: 5.9rem;*/
	width: 15rem;
	height: 5.94rem;
	border-radius: 0.2rem;
	padding-right: 2rem;
	/*margin: 0rem 0.16rem;*/
}
.scroll-icon-left {
	/*position: absolute;*/
	/*top: 1.8rem;*/
	/*left: 0rem;*/
	float: left;
	z-index: 4;
	width: 1.2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background: rgba(255,255,255,0.7);
}
.scroll-icon-left img {
	width: 0.8rem;
	height: 1rem;
	vertical-align: middle;
}
.scroll-icon-right {
	position: absolute;
	top: 1.8rem;
	right: 0rem;
	width: 1.2rem;
	height: 2rem;
	background: rgba(255,255,255,0.6);
}
.ordinary-img {
	/*width: 5.9rem;*/
	width: 15rem;
	height: 5.94rem;
}
.specail-img {
	width: 37.84rem;
	height: 5.94rem;
}
.VIP-img {
	width: 84.6rem;
	height: 5.94rem;

}

/*单图展示*/
.single-img-area {
	width: 15rem;
	height: 5.94rem;
	margin-bottom: 0.7rem;
}
.single-list {
	height: 5.94rem;

}
.single-img {
	width: 15rem;
	height: 5.94rem;
}


/*介绍部份*/
.ordinary-introduce {
	padding: 0rem 1.2rem;
}
.ordinary-introduce-label {
	display: block;
	font-size: 0.8rem;
	color: #333333;
	font-weight: 700;
	margin-bottom: 0.7rem;
}
.ordinary-introduce-describle {
	display: block;
	text-indent: 1.44rem;
	font-size: 0.72rem;
	line-height: 1rem;
	color: #999999;
	text-align: justify;
	text-justify: inter-ideograph;
}
.find-menu {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	display: none;
}
.find-menu-btn {
	width: 11.2rem;
	height: 1.7rem;
	line-height: 1.7rem;
	text-align: center;
	color: #ffffff;
	background: linear-gradient(to right,#f98459,#fd5c52);
	font-size: 0.68rem;
	border-radius: 0.8rem;
	letter-spacing: 0.2rem;
}