<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.guidance.mapper.G_ward.GWardMapper">
    <resultMap id="BaseResultMap" type="com.slk.guidance.model.G_ward.GWard">
        <id column="id" property="id"/>
        <result column="wardname" property="wardname"/>
    </resultMap>

    <select id="selectWardAll" resultMap="BaseResultMap">
        select fid as id,name as wardname from wph.wph_ward where Status=0
    </select>
</mapper>