<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>楼层地图</title>
    <script src="../../statics/js/jquery-3.2.1.js"></script>
    <script src="../../statics/js/H5Common.js"></script>
    <script src="../../statics/js/mui.js"></script>
    <link href="../../statics/css/mui.css" rel="stylesheet"/>
    <link href="../../statics/css/base.css" rel="stylesheet"/>
    <link href="../../statics/css/public.css" rel="stylesheet"/>
    <link href="../../statics/css/position.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>

<div class="container">
    <div class="top-bar"></div>
    <header class="container-top">
        <div class="mui-pull-left">
            <span class="mui-icon icon-back"></span>
            <a class="top-title-a" onclick="javascript :history.back(-1);">返回</a>
        </div>
    </header>
    <div class="container-body">
        <!--图片列表-->
        <div>
            <img src="../../statics/img/mui/oneShop.jpg" width="100%"/>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">

</script>

</html>